:root {
  /* base */
  --bg-color: #ffffff;
  --text-color: #000000;

  /* brand */
  --primary: #f58021;
  --accent: #00a092;

  /* sections */
  --dark-section: #20113d;
  --header-bg: #f58021;

  /* cards */
  --card-bg: #ffffff;
  --card-dark: #20113d;

  /* borders */
  --border-light: #ffffff;
  --border-dark: #20113d;

  /* hover */
  --primary-hover: #d96d10;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #eaeaea;

  --primary: #f58021;
  --accent: #00a092;

  --dark-section: #0f0a1f;
  --header-bg: #1e1e1e;

  --card-bg: #1f1f1f;
  --card-dark: #2a2a2a;

  --border-light: #20113d;
  --border-dark: #444;

  --primary-hover: #d96d10;
}

/* skeleton*/
.skeleton {
  position: relative;
  overflow: hidden;
  background: #e0e0e0;
}

.skeleton::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

[data-theme='dark'] .skeleton {
  background: #2a2a2a;
}

[data-theme='dark'] .skeleton::after {
  background: linear-gradient(90deg, transparent, rgba(247, 247, 247, 0.1), transparent);
}
