:root {
  --bg-color: #ffffff;
  --text-color: #222;
  --header-bg: #ffffff;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --header-bg: #1e1e1e;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  background: var(--header-bg);
}
