* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
html, body {
  overflow-x: hidden;
}
:root {
  scroll-behavior: smooth;
  font-size: 18px;
}
button, a {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
  max-width: 1920px;
  height: 110px;
  background-color: #F58021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: min(260px, 13.55%);
  padding-right: min(260px, 13.55%);
}
.logo {
  margin-right: auto;
}
.header-nav {
  display: flex;
  gap: 48px;
  list-style: none;
}
.header-nav li {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}
.header-nav a.active, .header-nav a:hover {
  color: #00A092;
  transition: color 0.3s ease;
}
.header-social {
  margin-left: 65px;
  display: flex;
  gap: 30px;
}
.header-social img:hover {
  scale: 1.2;
  transition: scale 0.3s ease;
}
.burger {
  display: none;
  flex-direction: column;
  gap: 11.5px;
  cursor: pointer;
}

.burger span {
  width: 30px;
  height: 2px;
  background: #000000;
}
main {
  padding-left: min(260px, 13.55%);
  padding-right: min(260px, 13.55%);
}
.main-image {
  width: 100%;
  max-width: 1400px;
  max-height: 815px;
}
.main-content-text {
  width: 40%;
}
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: max(150px, 7.8%);
  padding-bottom: max(150px, 7.8%);
}
.main-content-title {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 66px;
  text-transform: uppercase;
  color: #00A092;
}

.main-content-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 50px;
}
.main-content-form {
  width: 45.3%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.star {
  color: #00A092;
}
input, textarea {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #969696;
  margin-bottom: 20px;
  outline: none;
}
input:focus,
textarea:focus {
  border-color: #00A092;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}
input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  background: rgba(245, 128, 33, 0.2);
  border: 1px solid #F58021;
}
textarea {
  height: 200px;
}
.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  padding: 26px 45px;
  gap: 10px;
  background: #00A092;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  text-transform: uppercase;
  width: 360px;
}
.contact-button:hover, .contact-button:active {
  background: #05786E;
  transition: background 0.3s ease;
}
footer {
  background: #20113D;
  padding-left: min(260px, 13.55%);
  padding-top: clamp(44px, 4.27%, 82px);
  padding-bottom: clamp(16px, 2.3%, 44px);
  padding-right: min(260px, 13.55%);
}
.footer-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
}
.footer-nav a {
  color: #FFFFFF;
}
.footer-nav a:hover {
  color: #00A092;
  transition: color 0.3s ease;
}
.footer-logos {
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 74px;
  gap: 10px;

  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.footer-button:hover, .footer-button:active {
  background: #00A092;
  transition: background 0.3s ease;
}
.footer-line {
  width: 100%;
  max-width: 1400px;
  height: 0px;
  border: 1px solid #FFFFFF;
  margin-top: 80px;
}
.footer-author-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.footer-author {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
  display: flex;
  gap: 50px;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 40px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 11.5px;
  cursor: pointer;
}

.burger span {
  width: 30px;
  height: 2px;
  background: #000000;
}

@media (max-width: 1200px) {
  main {
    padding-left: 0%;
    padding-right: 0%;
  }
  header {
    padding-left: 8.3%;
    padding-right: 8.3%;
  }
  footer {
    padding-left: 3.3%;
    padding-right: 3.3%;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: clamp(60px, 7%, 150px);
    padding-bottom: clamp(60px, 7%, 150px);
  }

  .main-content-form {
    width: 100%;
    max-width: 740px;
  }

  .main-content-text {
    width: 100%;
    max-width: 835px;
  }

  .main-content-title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.1;
  }

  .contact-button {
    width: 100%;
    max-width: 360px;
    align-self: flex-start;
  }
}

@media (max-width: 860px) {
  header {
    padding: 15px 20px;
  }
  .header-nav,
  .header-social {
    display: none;
  }
  .burger {
    display: flex;
  }
  .footer-logo-nav {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .footer-author-social {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
  * {
    padding: 0px;
  }
  header {
    padding-left: 20px;
    padding-right: 47px;
  }
  .main-image {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }
  .main-content {
    padding: 0px 20px 100px 20px;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
  }
  .main-content-text{
    gap: 30px;
  }
  .contact-button {
    align-self: center;
  }
  .header-nav, .header-social {
    display: none;
  }

  .burger {
    display: flex;
  }

  .main-content-form,
  .main-content-text {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .footer-logo-nav {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .footer-author-social {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
}

@media (max-width: 320px) {

  header {
    padding-left: 20px;
    padding-right: 36px;
  }
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-image {
    width: 100%;
    height: 100%;
    max-height: 217px;
  }
  .main-content-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }
  .contact-button {
    width: 100%;
    max-width: 300px;
    height: 50px;
  }
  .footer-logos {
    flex-direction: column;
    align-items: center;
  }
  .footer-logos :nth-child(1) {
    max-width: 96px;
  }
  .footer-logos :nth-child(2) {
    max-width: 50px;
  }
  .footer-logos :nth-child(3) {
    max-width: 136px;
  }
  .footer-nav {
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
  .footer-button {
    width: 100%;
    max-width: 300px;
    height: 45px;
    font-size: 14px;
  }
  .footer-line {
    display: none;
  }
  .footer-social {
    margin-right: 40px;
  }
  .footer-author {
    flex-direction: column;
    align-items: center;
  }
}